/*----------------------------------------------------------------------------------------------------------------*\
    GAME UI
\*----------------------------------------------------------------------------------------------------------------*/
.gameContainer {
	width: 1024px;
	height: 768px;
	border: 1px solid #000;
	
	overflow: hidden;
}

.ui {
	width: 1024px;
	height: 147px;
	
	background: url("../images/ui/ui.png") no-repeat;
	
	text-align: center;
	
	position: absolute;
	bottom: 0;
	left: 0;
	
	z-index: 100;
}

.ui .area {
	padding: 10px;
	border: 1px solid #999;
	border-radius: 4px;
	display: inline-block;
	
	background: #ddd;
	
	color: #333;
	
	position: relative;
	top: 90px;
}

.ui .area .description {
	width: 500px;
	margin-left: -250px;
	border-radius: 5px;
	
	background: #ddd;
	
	position: absolute;
	top: 0;
	left: 50%;
	
	opacity: 0;
	
	z-index: -2;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
}

.ui .area:hover .description {
	top: -150%;
	
	opacity: 1;
}

.keychain {
	width: 70px;
	height: 70px;
	
	position: absolute;
	bottom: 15px;
	left: 25px;
	
	z-index: 101;
}

.keychain ul {
	padding-bottom: 30px;
	border-radius: 5px;
	opacity: 0;
	
	list-style: none;
	
	background: #ddd;
	
	color: #333;
	
	position: absolute;
	bottom: 0;
	left: 0;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
    
    z-index: -1;
}

.keychain li {
	padding: 5px 10px;
	
	white-space: nowrap;
}

.keychain:hover ul {
	opacity: 1;
	
	position: absolute;
	bottom: 60%;
	left: 0;
}

.inventory {
	width: 70px;
	height: 70px;
	
	position: absolute;
	bottom: 15px;
	left: 100px;
	
	z-index: 101;
}

[class*="ui-button-"] {
	width: 30px;
	height: 30px;
	display: block;
	
	text-align: center;
	line-height: 0;
	
	position: absolute;
}

[class*="ui-button-"] .tooltip {
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
	
	background: rgba(0, 0, 0, 0.7);
	
	white-space: nowrap;
	line-height: 1em;
	
	opacity: 0;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
}

[class*="ui-button-"]:hover .tooltip {
	opacity: 1;
}

.ui-button-north {
	bottom: 95px;
	right: 55px;
}

.ui-button-east {
	bottom: 65px;
	right: 25px;
}

.ui-button-south {
	bottom: 35px;
	right: 55px;
}

.ui-button-west {
	bottom: 65px;
	right: 85px;
}

.ui-container {
	width: 600px;
	padding: 2em;
	border-radius: 4px;
	
	background: rgba(0, 0, 0, 0.7);
	
	text-align: center;
}

.ui-puzzle {
	width: 500px;
	margin-left: -250px;
	padding: 2em;
	border-radius: 4px;
	
	background: rgba(0, 0, 0, 0.7);
	
	text-align: center;
	
	position: absolute;
	top: 100px;
	left: 50%;
}

.item {
	width: 100px;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	
	background: rgba(0, 0, 0, 0.7);
	
	position: absolute;
	
	z-index: 100;
}

.item1 {
	top: 120px;
	left: 60px;
}

.item2 {
	top: 140px;
	right: 100px;
}

.item3 {
	bottom: 160px;
	left: 80px;
}

.item4 {
	bottom: 120px;
	right: 50px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    WELCOME SCREEN
\*----------------------------------------------------------------------------------------------------------------*/
.title .gameContainer {
	background: url("../images/title/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.title .description {
	margin-bottom: 20px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FRONT DOOR
\*----------------------------------------------------------------------------------------------------------------*/
.frontDoor .gameContainer {
	background: url("../images/scenes/frontDoor/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}





/*----------------------------------------------------------------------------------------------------------------*\
    ENTRANCE
\*----------------------------------------------------------------------------------------------------------------*/
.entrance .gameContainer {
	background: url("../images/scenes/entrance/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.entrance .key {
	width: 20px;
	
	cursor: pointer;
	
	position: absolute;
	top: 84.5%;
	left: 78%;
}





/*----------------------------------------------------------------------------------------------------------------*\
    WORLD VIEW
\*----------------------------------------------------------------------------------------------------------------*/
.worldView .gameContainer {
	background: url("../images/scenes/worldView/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}





/*----------------------------------------------------------------------------------------------------------------*\
    COLLECTORS CABINET
\*----------------------------------------------------------------------------------------------------------------*/
.collectorsCabinet .gameContainer {
	background: url("../images/scenes/collectorsCabinet/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PUZZLES
\*----------------------------------------------------------------------------------------------------------------*/
.puzzleContent {
	width: 600px;
	height: 400px;
}

.puzzleContent img {
	width: auto;
}
