/*----------------------------------------------------------------------------------------------------------------*\
    GAME UI
\*----------------------------------------------------------------------------------------------------------------*/
.ui-container {
	width: 600px;
	padding: 2em;
	border-radius: 4px;
	
	background: rgba(0, 0, 0, 0.7);
	
	text-align: center;
}

[class*="ui-button-"] {
	width: 80px;
	height: 80px;
	display: block;
	
	text-align: center;
	line-height: 0;
	
	position: absolute;
}

[class*="ui-button-"] .tooltip {
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
	
	background: rgba(0, 0, 0, 0.7);
	
	white-space: nowrap;
	line-height: 1em;
	
	opacity: 0;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
}

[class*="ui-button-"]:hover .tooltip {
	opacity: 1;
}

.ui-button-north {
	margin-left: -40px;
	
	top: 20px;
	left: 50%;
}

.ui-button-east {
	margin-top: -40px;
	
	top: 50%;
	right: 20px;
}

.ui-button-south {
	margin-left: -40px;
	
	bottom: 20px;
	left: 50%;
}

.ui-button-west {
	margin-top: -40px;
	
	top: 50%;
	left: 20px;
}

.item {
	width: 100px;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	
	background: rgba(0, 0, 0, 0.7);
	
	position: absolute;
}

.item1 {
	top: 120px;
	left: 140px;
}

.item2 {
	top: 140px;
	right: 100px;
}

.item3 {
	bottom: 160px;
	left: 120px;
}

.item4 {
	bottom: 120px;
	right: 140px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    WELCOME SCREEN
\*----------------------------------------------------------------------------------------------------------------*/
.title {
	background: url("../images/title/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.title .description {
	margin-bottom: 20px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FRONT DOOR
\*----------------------------------------------------------------------------------------------------------------*/
.frontDoor {
	background: url("../images/scenes/frontDoor/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}





/*----------------------------------------------------------------------------------------------------------------*\
    ENTERANCE
\*----------------------------------------------------------------------------------------------------------------*/
.entrance {
	background: url("../images/scenes/entrance/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}





/*----------------------------------------------------------------------------------------------------------------*\
    WORLD VIEW
\*----------------------------------------------------------------------------------------------------------------*/
.worldView {
	background: url("../images/scenes/worldView/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}






/*----------------------------------------------------------------------------------------------------------------*\
    COLLECTORS CABINET
\*----------------------------------------------------------------------------------------------------------------*/
.collectorsCabinet {
	background: url("../images/scenes/collectorsCabinet/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}